<%# @notes.each do |note| %>

 <!--    <div style="border: 1px solid black; background-color: #add8e6;">
      
       <h3><%= note.title %></h3>
       <h2><%= note.description %></h2>
       <%= time_ago_in_words(note.created_at) %> ago by <%= note.user.email %>
       <br>

        <%#= link_to 'Edit', edit_note_path(note) %>

        <%#= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %> -->
      <%= content_for :comment %>
       <% if note.comments.any? %>

         <h4> Comments </h4>

         <%= render note.comments %>
         
       <% end %> 

       <p> Add Your Points : As comments here -- </p>
       <%= form_for([note, note.comments.build]) do |f| %>
         <%= f.text_area :point %>
         <%= submit_tag "Add" %>
       <% end %> 
       <% end %> 
     <!-- </div>
   </div>

     </div>
</div>
     <br>
     <br>
<%# end %>    -->