<h1>Notes</h1>
<%= link_to 'Create Note', new_note_path %>
<%= form_tag search_notes_path, :method => 'post' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search"%>
<% end %>
<%= render 'listnote', notes: @notes %>
<%#= render 'commentdetails', notes: @notes %>
<% yield :comment %>