<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @note.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @note.description %>
</p>

<p>
  <strong>Point:</strong>
  <%= @comment.point %>
</p>

<%= link_to 'Edit', edit_note_comment_path(@comment) %> |
<%= link_to 'Back', note_comments_path %>
